/*
* @Author: whuzxq
* @Date:   2017-08-04 17:03:07
* @Last Modified by:   whuzxq
* @Last Modified time: 2017-08-04 17:12:10
*/
html body{
	height:800px;
}
body{
	display:flex;
	flex-direction: column;
	flex:1;
}
#content{
	flex:1;
	display: flex;
	height:800px;
}

#left,#right{
	flex:0 0 80px;
	background-color: blue;
	height:800px;
}
#left{
	order:-1;
	height:800px;
}

#main{
	flex:1;
	height:800px;
}